.Field__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5px;

  input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-top: 3px;

    &:valid,
    &--valid {
      border-bottom-color: green;
    }

    &:invalid,
    &--invalid {
      border-bottom-color: red;
    }
  }
}