.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px;

  @media screen and (max-width: 768px) {
    width: calc(100% - 40px);
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px;

    select {
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      padding-top: 3px;
    }
  }

  &__button--submit {
    width: 100%;
    background-color: #2fbbbc;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: darken(#2fbbbc, 10%);
    }
  }
}