.Field__select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5px;

  select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-top: 3px;

    &.Field__select--valid {
      border-bottom-color: green;
    }

    &.Field__select--invalid {
      border-bottom-color: red;
    }
  }

}